@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Work Sans", sans-serif;
  background-color: #ffffff;
}

.container {
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35rem;
  height: 56rem;
  box-shadow: 0px 0px 8px 8px #e5e5e5;
  border-radius: 2rem;
  color: #14213d;
}

.image {
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  max-width: 35rem;
  max-height: 30rem;
}

.profile__details {
  margin: 1.5rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.profile__name {
  font-size: 1.8rem;
}

.profile__description {
  font-size: 1.4rem;
  line-height: 1.5;
}

.skills {
  font-size: 0.7rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  gap: 1rem;
  font-size: 0.7rem;
}

.html,
.javascript,
.web-design,
.git,
.react {
  border-radius: 0.5rem;
  height: 2rem;
  font-size: 1rem;
  width: 9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.html {
  background-color: #00f5d4;
}

.javascript {
  background-color: #c196f6;
}

.web-design {
  background-color: #00bbf9;
}

.git {
  background-color: #f15bb5;
}

.react {
  background-color: #fee440;
}
